/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 50px;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 50px;
}

/* line 8, ../../app/stylesheets/layout.scss */
body {
  background: url("../images/bg.png") top repeat-x white;
}

/* line 14, ../../app/stylesheets/layout.scss */
#footer {
  background: #f2f2f2;
}
/* line 16, ../../app/stylesheets/layout.scss */
#footer p {
  width: 1000px;
  margin: 10px auto 10px auto;
}
/* line 19, ../../app/stylesheets/layout.scss */
#footer p a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  background: #d9d9d9;
  font: bold 12px 'Tahoma';
  margin-top: 15px;
  margin-right: 15px;
  padding: 4px;
  float: right;
}

/* line 32, ../../app/stylesheets/layout.scss */
#content {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto 0 auto;
  width: 1000px;
  background: url("../images/top-bg.png") top repeat-x white;
}
/* line 37, ../../app/stylesheets/layout.scss */
#content h2.title {
  font: bold 13px 'Tahoma';
  color: #cccccc;
  margin-bottom: 10px;
  margin-right: 20px;
  background: url("../images/line-prod.png") bottom no-repeat white;
}
/* line 44, ../../app/stylesheets/layout.scss */
#content .info {
  margin-top: 20px;
}
/* line 46, ../../app/stylesheets/layout.scss */
#content .image-list {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px #ccc;
  padding: 2px;
}

<<<<<<< HEAD
/* line 49, ../../app/stylesheets/layout.scss */
=======
/* line 53, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.rowbottom {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  display: block;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  border: solid 1px #ccc;
  width: 150px;
  height: 150px;
  padding: 20px;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 60, ../../app/stylesheets/layout.scss */
a.rowbottom:hover {
  border: solid 1px #39f;
}
/* line 64, ../../app/stylesheets/layout.scss */
=======
/* line 64, ../../app/stylesheets/layout.scss */
a.rowbottom:hover {
  border: solid 1px #39f;
}
/* line 68, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.rowbottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
<<<<<<< HEAD
/* line 69, ../../app/stylesheets/layout.scss */
=======
/* line 73, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.rowbottom .prod-name {
  padding: 5px 0 5px 0;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}
<<<<<<< HEAD
/* line 75, ../../app/stylesheets/layout.scss */
=======
/* line 79, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.rowbottom .prod-info {
  margin: 0;
  padding: 5px 0 5px 0;
  font: normal 12px 'Tahoma';
  color: #39f;
}

<<<<<<< HEAD
/* line 84, ../../app/stylesheets/layout.scss */
=======
/* line 88, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.cat_info {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  display: block;
  width: 630px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  height: 30px;
  padding: 10px;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 93, ../../app/stylesheets/layout.scss */
a.cat_info:hover {
  border: solid 1px #39f;
}
/* line 97, ../../app/stylesheets/layout.scss */
=======
/* line 97, ../../app/stylesheets/layout.scss */
a.cat_info:hover {
  border: solid 1px #39f;
}
/* line 101, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.cat_info img {
  float: left;
  display: block;
  margin-left: 10px;
  width: 30px;
}
<<<<<<< HEAD
/* line 103, ../../app/stylesheets/layout.scss */
=======
/* line 107, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.cat_info .cat-name {
  float: left;
  margin-top: 8px;
  margin-left: 20px;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}
<<<<<<< HEAD
/* line 111, ../../app/stylesheets/layout.scss */
=======
/* line 115, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.cat_info .cat-info {
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

<<<<<<< HEAD
/* line 121, ../../app/stylesheets/layout.scss */
=======
/* line 125, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#find {
  width: 550px;
  position: absolute;
  top: 95px;
  margin-left: 490px;
}
<<<<<<< HEAD
/* line 122, ../../app/stylesheets/layout.scss */
=======
/* line 126, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#find input {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  height: 12px;
  float: left;
  background: url("../images/find.png") left no-repeat white;
  border: solid 2px #a2d2fa;
  padding-left: 30px;
  width: 400px;
}
<<<<<<< HEAD
/* line 131, ../../app/stylesheets/layout.scss */
=======
/* line 135, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#find a {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

<<<<<<< HEAD
/* line 146, ../../app/stylesheets/layout.scss */
#top-link {
  float: right;
}
/* line 147, ../../app/stylesheets/layout.scss */
=======
/* line 150, ../../app/stylesheets/layout.scss */
#top-link {
  float: right;
}
/* line 151, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#top-link li {
  display: block;
  list-style-type: none;
}
<<<<<<< HEAD
/* line 154, ../../app/stylesheets/layout.scss */
=======
/* line 158, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#top-link img {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  width: 29px;
  height: 29px;
}
<<<<<<< HEAD
/* line 161, ../../app/stylesheets/layout.scss */
=======
/* line 165, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#top-link #enter-space {
  margin-left: 5px;
  margin-right: 5px;
}
<<<<<<< HEAD
/* line 165, ../../app/stylesheets/layout.scss */
=======
/* line 169, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
#top-link a {
  display: block;
  padding-top: 18px;
  float: right;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

<<<<<<< HEAD
/* line 177, ../../app/stylesheets/layout.scss */
=======
/* line 181, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
ul#main-menu {
  text-transform: uppercase;
  margin: 10px 0 0 10px;
}
<<<<<<< HEAD
/* line 180, ../../app/stylesheets/layout.scss */
=======
/* line 184, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
ul#main-menu li {
  margin: 10px 0 0 10px;
  list-style-type: none;
}
<<<<<<< HEAD
/* line 183, ../../app/stylesheets/layout.scss */
=======
/* line 187, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
ul#main-menu li a {
  font-stretch: ultra-expanded;
  font-weight: bolder;
  font-family: 'Tahoma';
  font-size: 12px;
  color: #0272be;
}
<<<<<<< HEAD
/* line 190, ../../app/stylesheets/layout.scss */
=======
/* line 194, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
ul#main-menu li a.product {
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-family: 'Tahoma';
  font-size: 11px;
  color: #0272be;
}

<<<<<<< HEAD
/* line 200, ../../app/stylesheets/layout.scss */
=======
/* line 204, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
.clear {
  clear: both;
}

<<<<<<< HEAD
/* line 204, ../../app/stylesheets/layout.scss */
=======
/* line 208, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
.row {
  position: relative;
  margin-top: 100px;
}

<<<<<<< HEAD
/* line 209, ../../app/stylesheets/layout.scss */
h3.title {
  padding: 0 0 0 20px;
}
/* line 211, ../../app/stylesheets/layout.scss */
=======
/* line 213, ../../app/stylesheets/layout.scss */
h3.title {
  padding: 0 0 0 20px;
}
/* line 215, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
h3.title a.btn {
  margin: 5px 10px 0 0;
  float: right;
}

<<<<<<< HEAD
/* line 216, ../../app/stylesheets/layout.scss */
a.with-img {
  margin: 0;
}
/* line 218, ../../app/stylesheets/layout.scss */
=======
/* line 220, ../../app/stylesheets/layout.scss */
a.with-img {
  margin: 0;
}
/* line 222, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
a.with-img:hover {
  background: none;
}

<<<<<<< HEAD
/* line 222, ../../app/stylesheets/layout.scss */
.products tr td span.label.notice {
  padding: 3px 2px 3px 2px;
}
/* line 223, ../../app/stylesheets/layout.scss */
.products tr td:nth-child(2) {
  padding-left: 0;
}
/* line 224, ../../app/stylesheets/layout.scss */
=======
/* line 226, ../../app/stylesheets/layout.scss */
.products tr td span.label.notice {
  padding: 3px 2px 3px 2px;
}
/* line 227, ../../app/stylesheets/layout.scss */
.products tr td:nth-child(2) {
  padding-left: 0;
}
/* line 228, ../../app/stylesheets/layout.scss */
>>>>>>> 3028ce278c82860d046f8a803977009daf70529f
.products tr td img.photo {
  border: solid 2px #bbb;
}
