/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
/* line 18, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 50px;
}

/* line 20, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 50px;
}

/* line 8, ../../app/stylesheets/layout.scss */
body {
  background: url("../images/bg.png") top repeat-x white;
}

/* line 18, ../../app/stylesheets/layout.scss */
#footer {
  background: #f2f2f2;
}
/* line 20, ../../app/stylesheets/layout.scss */
#footer p {
  width: 1000px;
  margin: 10px auto 10px auto;
}
/* line 23, ../../app/stylesheets/layout.scss */
#footer p a {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  background: #d9d9d9;
  font: bold 12px 'Tahoma';
  margin-top: 15px;
  margin-right: 15px;
  padding: 4px;
  float: right;
}

/* line 36, ../../app/stylesheets/layout.scss */
#content {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto 0 auto;
  width: 1000px;
  background: url("../images/top-bg.png") top repeat-x white;
}
/* line 41, ../../app/stylesheets/layout.scss */
#content h2.title {
  font: bold 13px 'Tahoma';
  color: #cccccc;
  margin-bottom: 10px;
  margin-right: 20px;
  background: url("../images/line-prod.png") bottom no-repeat white;
}
/* line 48, ../../app/stylesheets/layout.scss */
#content .info {
  margin-top: 20px;
}
/* line 51, ../../app/stylesheets/layout.scss */
#content .image-list {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px #ccc;
  padding: 2px;
}

/* line 58, ../../app/stylesheets/layout.scss */
a.rowbottom {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  display: block;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  border: solid 1px #ccc;
  width: 150px;
  height: 150px;
  padding: 20px;
  text-decoration: none;
}
/* line 69, ../../app/stylesheets/layout.scss */
a.rowbottom:hover {
  border: solid 1px #39f;
}
/* line 73, ../../app/stylesheets/layout.scss */
a.rowbottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 78, ../../app/stylesheets/layout.scss */
a.rowbottom .prod-name {
  padding: 5px 0 5px 0;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}
/* line 84, ../../app/stylesheets/layout.scss */
a.rowbottom .prod-info {
  margin: 0;
  padding: 5px 0 5px 0;
  font: normal 12px 'Tahoma';
  color: #39f;
}

/* line 93, ../../app/stylesheets/layout.scss */
a.cat_info {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  display: block;
  width: 630px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  height: 30px;
  padding: 10px;
  text-decoration: none;
}
/* line 102, ../../app/stylesheets/layout.scss */
a.cat_info:hover {
  border: solid 1px #39f;
}
/* line 106, ../../app/stylesheets/layout.scss */
a.cat_info img {
  float: left;
  display: block;
  margin-left: 10px;
  width: 30px;
}
/* line 112, ../../app/stylesheets/layout.scss */
a.cat_info .cat-name {
  float: left;
  margin-top: 8px;
  margin-left: 20px;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}
/* line 120, ../../app/stylesheets/layout.scss */
a.cat_info .cat-info {
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  text-align: center;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

/* line 130, ../../app/stylesheets/layout.scss */
#find {
  width: 550px;
  position: absolute;
  top: 95px;
  margin-left: 490px;
}
/* line 131, ../../app/stylesheets/layout.scss */
#find input {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  height: 12px;
  float: left;
  background: url("../images/find.png") left no-repeat white;
  border: solid 2px #a2d2fa;
  padding-left: 30px;
  width: 400px;
}
/* line 140, ../../app/stylesheets/layout.scss */
#find a {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

/* line 155, ../../app/stylesheets/layout.scss */
#top-link {
  float: right;
}
/* line 156, ../../app/stylesheets/layout.scss */
#top-link li {
  display: block;
  list-style-type: none;
}
/* line 163, ../../app/stylesheets/layout.scss */
#top-link img {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  width: 29px;
  height: 29px;
}
/* line 170, ../../app/stylesheets/layout.scss */
#top-link #enter-space {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 174, ../../app/stylesheets/layout.scss */
#top-link a {
  display: block;
  padding-top: 18px;
  float: right;
  font: bold 14px 'Tahoma';
  color: #0272be;
}

/* line 186, ../../app/stylesheets/layout.scss */
#top-link-text {
  float: right;
  margin-right: 20px;
}
/* line 187, ../../app/stylesheets/layout.scss */
#top-link-text li {
  display: block;
  list-style-type: none;
  margin-top: 18px;
  margin-right: 10px;
}
/* line 196, ../../app/stylesheets/layout.scss */
#top-link-text li.active a {
  color: #29a7fd;
}
/* line 197, ../../app/stylesheets/layout.scss */
#top-link-text a {
  text-transform: uppercase;
  display: block;
  padding: 8px;
  float: right;
  font: bold 14px 'Tahoma';
  color: #01548c;
  font: bold 13px Tahoma, Georgia, "Times New Roman", Times, serif;
}
/* line 206, ../../app/stylesheets/layout.scss */
#top-link-text a:hover {
  color: #ffffff;
}

/* line 213, ../../app/stylesheets/layout.scss */
ul#main-menu {
  text-transform: uppercase;
  margin: 10px 0 0 10px;
}
/* line 221, ../../app/stylesheets/layout.scss */
ul#main-menu li {
  margin: 10px 0 0 10px;
  list-style-type: none;
}
/* line 224, ../../app/stylesheets/layout.scss */
ul#main-menu li a {
  display: block;
  margin-left: 5px;
  margin-top: 1px;
  font-stretch: ultra-expanded;
  font-weight: bolder;
  font-family: 'Tahoma';
  font-size: 12px;
  color: #0272be;
}
/* line 234, ../../app/stylesheets/layout.scss */
ul#main-menu li a.product {
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-family: 'Tahoma';
  font-size: 11px;
  color: #0272be;
}

/* line 244, ../../app/stylesheets/layout.scss */
.clear {
  clear: both;
}

/* line 248, ../../app/stylesheets/layout.scss */
.row {
  position: relative;
  margin-top: 80px;
}
/* line 251, ../../app/stylesheets/layout.scss */
.row .span5 h2.product {
  border-bottom: dashed 1px #daf0ff;
  border-top: dashed 1px #daf0ff;
  margin: 0 25px 20px 25px;
  padding: 8px;
  color: #29a7fd;
  text-align: center;
  font: bold 14px Tahoma, Georgia, "Times New Roman", Times, serif;
}

/* line 262, ../../app/stylesheets/layout.scss */
h3.title {
  padding: 0 0 0 20px;
}
/* line 264, ../../app/stylesheets/layout.scss */
h3.title a.btn {
  margin: 5px 10px 0 0;
  float: right;
}

/* line 269, ../../app/stylesheets/layout.scss */
a.with-img {
  margin: 0;
}
/* line 271, ../../app/stylesheets/layout.scss */
a.with-img:hover {
  background: none;
}

/* line 275, ../../app/stylesheets/layout.scss */
.products tr td span.label.notice {
  padding: 3px 2px 3px 2px;
}
/* line 276, ../../app/stylesheets/layout.scss */
.products tr td:nth-child(2) {
  padding-left: 0;
}
/* line 277, ../../app/stylesheets/layout.scss */
.products tr td img.photo {
  border: solid 2px #bbb;
}

/* line 281, ../../app/stylesheets/layout.scss */
table.product-info {
  width: 640px;
  border: none;
}
/* line 285, ../../app/stylesheets/layout.scss */
table.product-info tr td {
  border: none;
}
/* line 286, ../../app/stylesheets/layout.scss */
table.product-info td.price {
  padding: 0;
  vertical-align: bottom;
  text-align: center;
  color: green;
  font: bold italic 20px Tahoma, Georgia, "Times New Roman", Times, serif;
}
/* line 293, ../../app/stylesheets/layout.scss */
table.product-info td.add-card {
  vertical-align: middle;
  text-align: right;
  padding: 0;
}

/* line 302, ../../app/stylesheets/layout.scss */
div.sc_menu {
  /* Set it so we could calculate the offsetLeft */
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background: url("../images/navigation.png");
  position: relative;
  height: 145px;
  width: 655px;
  overflow: auto;
}

/* line 311, ../../app/stylesheets/layout.scss */
ul.sc_menu {
  display: block;
  height: 110px;
  /* max width here, for users without javascript */
  width: 1500px;
  padding: 15px 0 0 15px;
  /* removing default styling */
  margin: 0;
  list-style: none;
}

/* line 321, ../../app/stylesheets/layout.scss */
.sc_menu li {
  display: block;
  float: left;
  padding: 0 4px;
}

/* line 326, ../../app/stylesheets/layout.scss */
.sc_menu a {
  display: block;
  text-decoration: none;
}

/* line 330, ../../app/stylesheets/layout.scss */
.sc_menu span {
  display: none;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* line 338, ../../app/stylesheets/layout.scss */
.sc_menu a:hover span {
  display: block;
}

/* line 341, ../../app/stylesheets/layout.scss */
.sc_menu img {
  border: 3px #fff solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 347, ../../app/stylesheets/layout.scss */
.sc_menu a:hover img {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* Here are styles for the back button, don't look at them */
/* line 354, ../../app/stylesheets/layout.scss */
#back {
  display: block;
  width: 660px;
  text-align: center;
  color: #003469;
  font-size: 16px;
}
