@import "compass/css3";
@import "compass/utilities";
@import "compass/reset.scss";
@import "compass/layout.scss";

@include sticky-footer(50px, "#layout", "#layout_footer", "#footer");

body {
	background: url('../images/bg.png') top repeat-x #fff;
}

.menu-product {
	//li a { bottom: 15px;}
}

$bg-color: #ccc;

#footer {
  background: lighten($bg-color, 15%);
  p {
  	width: 1000px;
  	margin: 10px auto 10px auto;
  	a {
  		@include border-radius(15px);
  		color: #fff;
  		background: lighten($bg-color, 5%);
  		font: bold 12px 'Tahoma';
  		margin-top: 15px;
  		margin-right: 15px;
  		padding: 4px;
  		float: right;
  	}
  }
}

#content {
	@include border-radius(50px);
	margin:0 auto 0 auto;
	width:1000px;
	background: url('../images/top-bg.png') top repeat-x #fff;
	h2.title {
		font: bold 13px 'Tahoma';
		color: $bg-color;
		margin-bottom: 10px;
		margin-right: 20px;
		background: url('../images/line-prod.png') bottom no-repeat #fff;
	}
	.info {
		margin-top: 20px;
	}
	.image-list {
		@include border-radius(25px);
		border: solid 1px #ccc;
		padding: 2px;
	}
}

a.rowbottom {
	@include border-radius(25px);
	display: block;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
	border: solid 1px #ccc;
	width: 150px;
	height: 150px;
	padding: 20px;
	text-decoration: none;
	&:hover {
		border: solid 1px #39f;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.prod-name {
		padding: 5px 0 5px 0;
		text-align: center;
		font: bold 14px 'Tahoma';
		color: #0272be;
	}
	.prod-info {
		margin: 0;
		padding: 5px 0 5px 0;
		//text-align: center;
		font: normal 12px 'Tahoma';
		color: #39f;
	}
}

a.cat_info {
	@include border-radius(25px);
	display: block;
	width: 630px;
	margin-bottom: 10px;
	border: solid 1px #ccc;
	height: 30px;
	padding: 10px;
	text-decoration: none;
	&:hover {
		border: solid 1px #39f;
	}

	img {
		float: left;
		display: block;
		margin-left: 10px;
		width: 30px;
	}
	.cat-name {
		float: left;
		margin-top: 8px;
		margin-left: 20px;
		text-align: center;
		font: bold 14px 'Tahoma';
		color: #0272be;
	}
	.cat-info {
		float: right;
		margin-top: 8px;
		margin-right: 20px;
		text-align: center;
		font: bold 14px 'Tahoma';
		color: #0272be;
	}
}

#find {
	input {
		@include border-radius(12px);
		height: 12px;
		float: left;
		background: url('../images/find.png') left no-repeat #fff;
		border: solid 2px #a2d2fa;
		padding-left: 30px;
		width: 400px;
	}
	a {
		float: left;
		padding: {
			top: 3px;
			left: 10px;
		}
		font: bold 14px 'Tahoma';
		color: #0272be;
	}
	width: 550px;
	position: absolute;
	top: 95px;
	margin-left: 490px;
}

#top-link {
	li {
		display: block;
		list-style-type: none;
		//padding-bottom:10px;
		//line-height: 30px;
		//float: right;
	}
	img {
		float: right;
		margin-top: 5px;
		margin-left: 10px;
		width: 29px;
		height: 29px;
	}
	#enter-space {
		margin-left:5px;
		margin-right:5px;
	}
	a {
		//height: 35px;
		display: block;
		padding-top: 18px;
		float: right;
		font: bold 14px 'Tahoma';
		color: #0272be;
	}
	//width: 50px;
	float: right;
}

#top-link-text {
	li {
		display: block;
		list-style-type: none;
		margin-top: 18px;
		margin-right: 10px;
		//padding-bottom:10px;
		//line-height: 30px;
		//float: right;
	}
	li.active a { color: lighten(#0272be,20%); }
	a {
		//height: 35px;
		text-transform: uppercase;
		display: block;
		padding: 8px;
		float: right;
		font: bold 14px 'Tahoma';
		color: darken(#0272be, 10%);
		font: bold 13px Tahoma, Georgia, "Times New Roman", Times, serif;
		&:hover { color: #ffffff; }
	}
	//width: 50px;
	float: right;
	margin-right: 20px;
}

ul#main-menu {
	text-transform: uppercase;
	margin: 10px 0 0 10px;
	//div.hitarea {
	//	height: 30px;
		//margin-bottom: 10px;
		//line-height: 10px;
	//}
	li {
		margin: 10px 0 0 10px;
		list-style-type: none;
		a {
			display: block;
			margin-left: 5px;
			margin-top: 1px;
			font-stretch: ultra-expanded;
			font-weight: bolder;
			font-family: 'Tahoma';
			font-size: 12px;
			color: #0272be;
		}
		a.product {
			font-stretch: ultra-expanded;
			font-weight: normal;
			font-family: 'Tahoma';
			font-size: 11px;
			color: #0272be;
		}
	}
}

.clear {
	clear: both;
}

.row {
	position: relative;
	margin-top: 80px;
	.span5 h2.product {
		border-bottom: dashed 1px lighten(#0272be, 55%);
		border-top: dashed 1px lighten(#0272be, 55%);
		margin: 0 25px 20px 25px;
		padding: 8px;
		color: lighten(#0272be, 20%);
		text-align: center;
		font: bold 14px Tahoma, Georgia, "Times New Roman", Times, serif;
	}
}

h3.title {
	padding: 0 0 0 20px;
	a.btn {
		margin: 5px 10px 0 0;
		float:right;
	}
}
a.with-img {
	margin:0;
	&:hover { background:none; }
}
.products {
	tr {
		td span.label.notice { padding: 3px 2px 3px 2px; }
		td:nth-child(2) { padding-left:0; }
		td img.photo { border: solid 2px #bbb; }
	}
}

table.product-info {
	//margin-right: 50px;
	width: 640px;
	border: none;
	tr td { border: none; }
	td.price {
		padding: 0;
		vertical-align: bottom;
		text-align: center;
		color: green;
		font: bold italic 20px Tahoma, Georgia, "Times New Roman", Times, serif;
	}
	td.add-card {
		vertical-align: middle;
		text-align: right;
		padding: 0;
		//form, input, div { margin: 0; vertical-align: top; width: 100px; height: 30px; }
	}
}

//лента
div.sc_menu {
	/* Set it so we could calculate the offsetLeft */
	@include border-radius(25px);
	background: url('../images/navigation.png');
	position: relative;
	height: 145px;
	width: 655px;
	overflow: auto;
}
ul.sc_menu {
	display: block;
	height: 110px;
	/* max width here, for users without javascript */
	width: 1500px;
	padding: 15px 0 0 15px;
	/* removing default styling */
	margin: 0;
	list-style: none;
}
.sc_menu li {
	display: block;
	float: left;
	padding: 0 4px;
}
.sc_menu a {
	display: block;
	text-decoration: none;
}
.sc_menu span {
	display: none;
	margin-top: 3px;

	text-align: center;
	font-size: 12px;
	color: #fff;
}
.sc_menu a:hover span {
	display: block;
}
.sc_menu img {
	border: 3px #fff solid;
	@include border-radius(3px);
  //  -webkit-border-radius: 3px;
  //  -moz-border-radius: 3px;
}
.sc_menu a:hover img {
	filter:alpha(opacity=50);
	opacity: 0.5;
}


/* Here are styles for the back button, don't look at them */
#back {
	display: block;
	width: 660px;
	text-align: center;
	color: #003469;
	font-size: 16px;
}

.card-item-tr {
	td {
		border-bottom: solid 1px lighten($bg-color, 10%);
		height:30px;
		line-height:30px;
		img { margin:2px 5px; }
	}
}
